{% extends "base.html" %}

{% block content %}
<div class="card">
<h2>Edit {{ animal.animal_name }}</h2>

<!-- TODO: Create a form that sends a POST request -->

<form method="POST">

    <!-- TODO: Pre-fill title using entry data -->
    <!-- Hint: value="{{ entry['title'] }}" -->
    <input type="text" name="image_file" value="{{animal.image_file}}"required><br>
    <input type="text" name="habitat"  value="{{animal.habitat}}" required><br>
    <input type="text" name="food" value="{{animals.food}}"required><br>
    <button type="submit">Save Changes</button>
    <!-- TODO: Pre-fill content using entry data -->
    <!-- TODO: Add submit button -->
</form>
</div>
<!-- TODO: Add a link back to dashboard -->
<a href="/dashboard">Back to Animals</a>
<p class="error">{{error}}</p>
<a href="logout"><button>Logout</button></a>
{% endblock %}